---
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro';
---
<!doctype html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<Head title="Time Tracking for Software Developers | Timesheet Management">
    <meta name="description" content="Consulting Cockpit is a time tracking app designed for software developers, offering shortcuts, ctrl+k search bar, and visual widgets for efficient timesheet management. Start your 90-day free trial today.">
    <meta property="og:title" content="Consulting Cockpit: Time Tracking App for Software Developers">
    <meta property="og:description" content="Use shortcuts, ctrl+k search bar, and visual widgets to reduce time spent on timesheets. Start your 90-day free trial today.">
    <meta property="og:image" content="https://consultingcockpit.com/consultingcockpit-logo-compact.jpg">
    <meta property="og:url" content="https://consultingcockpit.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Consulting Cockpit",
            "url": "https://consultingcockpit.com",
            "description": "Consulting Cockpit is a time tracking app designed for software developers, offering efficient timesheet management with shortcuts and visual widgets.",
            "author": {
                "@type": "Organization",
                "name": "GRAN Software Solutions GmbH"
            }
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RJB0Z11MPP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-RJB0Z11MPP');

        const converters = document.querySelectorAll('.convert');
        converters.forEach(el => {
            el.addEventListener('click', it => {
                let url = it.target.href
                var callback = function () {
                    if (typeof (url) != 'undefined') {
                        window.location = url;
                    }
                };

                gtag('event', 'conversion', {
                    'send_to': 'AW-11039123167/E1YkCPPM_4AaEN_N7o8p',
                    'event_callback': callback
                });

                return false;
            });
        });
    </script>

    <style type="text/css">
        #ribbon::after {
            background: #fff9ef;
            content: "";
            height: 45%;
            left: 0;
            position: absolute;
            top: 85%;
            transform: skewY(10deg);
            width: 100%;
            z-index: -1;
        }
    </style>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TGFDCQSQ');</script>
    <!-- End Google Tag Manager -->
</Head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGFDCQSQ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class=wrapper>
        <div class="container">
            <img src="https://app.consultingcockpit.com/assets/Consulting_cockpit_logo_peach-BMG-cAIO.webp" alt="Consulting Cockpit Logo" class="logo" />

            <h1>IT’S COMING...</h1>
            <h2>THE EARLY ACCESS TO THE NEWEST AGENCY OS</h2>

            <p class="intro">And you can be part of it.</p>

            <p>
            We are inviting <strong>100 bold entrepreneurs</strong> to get exclusive early access to the<br/> Consulting Cockpit. <br />
            </p>
    <p>
    If you are:
    <ul>
    <li>running a software agency</li>
    <li>hiring a team up to 20 employees or contractors</li>
    <li>ready to explore the unknown and build the future</li>
    </ul>

    </p>

            <p>
            Apply for an interview to join our Early Access program – and gain entry to the exclusive private Discord community of pioneering entrepreneurs like yourself.
            </p>

            <form class="signup-form">
            <input type="text" placeholder="Your first name e.g. John" required />
            <input type="email" placeholder="Your E-Mail address e.g. jd@mydomain.com" required />

            <div class="checkbox">
                <input type="checkbox" id="terms" required />
                <label for="terms">I accept Consulting Cockpit’s terms and conditions (<a href="/datenschutz">found here</a>).</label>
            </div>

            <button type="submit">Apply for Early Access</button>

            </form>
        </div>

        <Footer/>
    </div>
</body>
</html>