---
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro';
---
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<Head title="The Time Tracker For Software Developers">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RJB0Z11MPP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RJB0Z11MPP');
    </script>

    <!-- Event snippet for LP to Signup (1) conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof(url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-11039123167/E1YkCPPM_4AaEN_N7o8p',
                'event_callback': callback
            });
            return false;
        }
    </script>


    <style type="text/css">
        #ribbon::after {
            background: #fff9ef;
            content: "";
            height: 45%;
            left: 0;
            position: absolute;
            top: 85%;
            transform: skewY(10deg);
            width: 100%;
            z-index: -1;
        }
    </style>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGFDCQSQ');</script>
    <!-- End Google Tag Manager -->
</Head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGFDCQSQ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="flex justify-center bg-[#252422] text-[#fff9ef] h-20">
    <nav class="flex justify-between container px-5">
        <div class="hidden sm:flex items-center text-3xl text-[#fff9ef] logo-text">
            Sheetty
            <img src="sheetty-logo-compact.svg" width="40" class="ml-3">
        </div>

        <ul class="w-full flex flex-row gap-4 justify-between md:justify-end h-[80px] items-center">
            <li><a class="p-2 sm:px-5 block w-full h-full hover:bg-[#ff5e29] rounded-3xl"
                   href="#features">Features</a>
            </li>
            <li><a class="p-2 sm:px-5 block w-full h-full hover:bg-[#ff5e29] rounded-3xl"
                   href="#pricing">Pricing</a>
            </li>
            <li><a class="p-2 sm:px-5 block w-full h-full hover:bg-[#ff5e29] rounded-3xl"
                   href="https://app.sheetty.com/signin" target="_blank">Sign in</a>
            </li>
            <li><a
                    class="p-2 sm:px-5 block w-full h-full bg-[#ff5e29] rounded-3xl hover:brightness-125"
                    href="https://app.sheetty.com/signup"
                    target="_blank"
                    onclick="gtag_report_conversion('https://app.sheetty.com/signup')">Sign up</a></li>
        </ul>
    </nav>
</header>

<div class="container px-5 mx-auto">
    <section id="hero" class="flex flex-col justify-center items-center pt-10 mb-10">
        <div class="prose sm:prose-2xl text-center w-full p-2">
            <h1 style="margin-bottom: 0.2em">Track time <span class="blur-sm hover:blur-none cursor-none">🕑</span>
                like a <span class="text-6xl sm:text-9xl">Software Developer</span></h1>

            <p class="text-justify">Sheetty is a time tracking app that lets you use shortcuts, <code>ctrl+k</code>
                search bar and calendar-like
                widgets to reduce time spent timesh**ting. And makes it fun.</p>
            <p class="text-justify">It tracks your contracts, hours worked, money earned and maximum hours you can clock
                in.</p>
        </div>

        <a href="https://app.sheetty.com/signup" target="_blank"
           class="p-3 mt-5 rounded-3xl text-white text-2xl bg-[#ff5e29] hover:brightness-125 font-bold uppercase text-center"
           onclick="gtag_report_conversion('https://app.sheetty.com/signup')"
        >
            Start 90 Days Free Trial
        </a>
    </section>

    <section id="ribbon" class="grid grid-rows-1 grid-flow-row">
        <div class="w-[640px] mx-auto border-2 mb-10 border-[#ffcfbf] rounded hidden sm:block drop-shadow-xl">
            <video class="lg:w-full lg:h-full hover:cursor-pointer" controls poster="sheetty-fast-onboarding.png">
                <source src="sheetty-fast-onboarding.mp4" type="video/mp4"/>
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="flex flex-row flex-wrap justify-between">
            <div class="prose sm:prose-2xl lg:w-[30%] mb-20">
                <h2>Quick Actions</h2>
                <p>
                    You can use mouse or shortcuts and quick actions to do the same thing faster. E.g. manage
                    your time tracking, navigate or export timesheets.
                </p>

                <img src="quick-actions.png" alt="quick actions" class="mx-auto"/>
            </div>

            <div class="prose sm:prose-2xl lg:w-[30%] mb-20">
                <h2>Hotkeys</h2>
                <p>
                    Press <code>alt + key</code> to navigate the app without moving your mouse.
                    E.g. alt-tab from your IDE to your browser, then press a combo of hotkeys to
                    quickly set up your time tracker for a new task. And then get back to work.
                </p>

                <img src="hotekeys.png" alt="hotkeys" class="mx-auto"/>
            </div>

            <div class="prose sm:prose-2xl lg:w-[30%]">
                <h2>Timesheet Editing</h2>
                <p>
                    You can use the Timeline View and simply drag blocks of time on it (like in a calendar
                    app), or go to the list view
                    and change your entries with a keyboard. You can always add entries manually
                    for any day using the calendar.
                </p>

                <img src="editing1.png" alt="timesheet editing" class="mx-auto"/>
            </div>
        </div>
    </section>
</div>

<div class="bg-[#fff9ef] py-10 my-5">
    <div class="container px-5 mx-auto flex flex-col items-center">
        <div class="prose sm:prose-2xl mb-5">
            <h2>90 Days Free Trial</h2>
            <p>
                We offer a modern and simple time tracking tool. Sheetty has minimum features to do maximum
                work. Try it for <span class="font-bold">90 days for free</span>. No credit card required. No risk.
            </p>
        </div>

        <a href="https://app.sheetty.com/signup" target="_blank"
           class="p-3 mt-5 rounded-3xl text-white text-2xl bg-[#ff5e29] hover:brightness-125 font-bold uppercase text-center"
           onclick="gtag_report_conversion('https://app.sheetty.com/signup')"
        >
            Start 90 Days Free Trial
        </a>
    </div>
</div>

<div class="container px-5 mx-auto">
    <section>
        <div class="sm:mb-10">
            <div class="prose sm:prose-2xl p-2 mb-5">
                <h2>Interactive Timeline</h2>
                <p>Effortlessly drag and drop time entries, just like in a calendar.</p>
            </div>
            <div class="flex flex-col justify-center items-center text-[#fff9ef]">
                <video width="w-full h-[250px]" autoplay loop muted>
                    <source src="sheetty.mp4"/>
                </video>
            </div>
        </div>

        <div class="flex flex-row flex-wrap justify-between">
            <div class="lg:w-[30%] mb-5">
                <div class="flex flex-col">
                    <div class="prose sm:prose-2xl p-2 mb-5">
                        <h2>Smart Autocomplete</h2>
                        <p>Fuzzy search scoped to a single client allows you to quickly find recurring tasks.</p>
                    </div>

                    <img src="autocomplete.png" alt="autocomplete" class="mx-auto"/>
                </div>
            </div>

            <div class="lg:w-[30%]">
                <div class="flex flex-col justify-between">
                    <div class="prose sm:prose-2xl p-2 mb-5">
                        <h2>Parallel Tracking</h2>
                        <p>
                            Use your time more efficiently with an instant overview of all running time trackers. You
                            can quickly browse, discard or finish tasks without even changing your current context.
                        </p>
                    </div>

                    <img src="parallel-trackers.png" alt="parallel time tracking" class="mx-auto"/>
                </div>
            </div>
            <div class="lg:w-[30%] mb-5">
                <div class="flex flex-col">
                    <div class="prose sm:prose-2xl p-2 mb-5">
                        <h2>Quick Stats</h2>
                        <p>Your favourite statistics are always available. Just open up the drawer on the side</p>
                        <p>Track your earnings and hours worked for a client or a contract.</p>
                    </div>

                    <img src="quick-stats.png" alt="quick statistics" class="mx-auto"/>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="bg-[#fff9ef] py-5">
    <div id="pricing" class="flex justify-center items-center flex-col">
        <div class="prose sm:prose-2xl px-5 text-center mb-10 w-full md:w-[35ch]">
            <h2>Pricing</h2>
            <p>Our pricing is simple and honest. We'll never sell your personal information to advertising agencies or
                any third parties.</p>
        </div>

        <div class="w-full sm:w-[600px]">
            <div class="bg-[#252422] text-[#fff9ef] md:rounded-3xl py-10 p-2 sm:p-20 text-center text-xl">
                <div class="mb-10">
                    <p class="mb-2 text-4xl">
                        <span class="font-bold mb-2">from 0,99 €*</span>
                    </p>
                    <p>per 30 days</p>
                </div>

                <div class="w-full flex justify-center px-5">
                    <ul class="text-left w-full sm:w-[300px] leading-10">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20"
                                 fill="currentColor"
                                 stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Unlimited Clients and Projects
                        </li>

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20"
                                 fill="currentColor"
                                 stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Unlimited Timesheet exports
                        </li>

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20"
                                 fill="currentColor"
                                 stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            All future updates included
                        </li>

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20"
                                 fill="currentColor"
                                 stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Discord server to chat with us
                        </li>

                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20"
                                 fill="currentColor"
                                 stroke="currentColor" stroke-width="1">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            90 days free trial
                        </li>

                    </ul>
                </div>

                <div class="mt-10 flex justify-center">
                    <a class="p-3 mt-5 rounded-3xl text-white text-2xl bg-[#ff5e29] hover:brightness-125 font-bold uppercase text-center"
                       href="https://app.sheetty.com/signup"
                       onclick="gtag_report_conversion('https://app.sheetty.com/signup')"
                       target="_blank">Start 90 Days Free Trial</a>
                </div>
            </div>
            <p class="text-sm text-left w-full px-5">*VAT not included</p>

            <div class="my-10 flex flex-row w-full justify-between items-center px-5">
                <img class="w-[100px] md:w-[150px]" src="/Hosted_in_GERMANY.png"/>
                <img class="w-[100px] md:w-[150px]" src="/Made_in_BERLIN.png"/>
                <div class="uppercase font-bold w-[100px] md:w-[150px] flex justify-center">
                    <p class="p-1 md:text-xl">for devs<br/><span class="text-2xl text-[#ff5e29]">❤</span> by devs</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap gap-4 items-top justify-around">
                <div class="flex flex-col items-center">
                    <p>Built with ♥ by</p>
                    <p class="w-[250px] mt-5"><a href="https://gransoftware.de"><img src="gran.png"/></a></p>
                </div>

                <div class="flex flex-col items-center">
                    <p>Follow us</p>
                    <div class="flex flex-row items-top justify-around gap-4">
                        <p class="w-[50px] mt-5"><a href="https://www.instagram.com/gran_sheetty/"><img
                                src="insta.png"/></a></p>
                        <p class="w-[60px] mt-5"><a
                                href="https://www.linkedin.com/company/gran-software-solutions/about/"><img
                                src="linkedin.png"/></a></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<Footer/>
</body>
</html>