<footer class="footer h-[80px] bg-[#252422] text-[#fff9ef]">
    <div class="flex flex-row items-center h-full justify-between">
        <ul class="flex flex-row gap-4 text-sm items-center px-2">
            <li><a target="_blank" href="/aup" class="hover:text-[#ffd700] transition-colors">AUP</a></li>
            <li><a target="_blank" href="/agb" class="hover:text-[#ffd700] transition-colors">Terms of Service</a></li>
            <li><a target="_blank" href="/datenschutz" class="hover:text-[#ffd700] transition-colors">Privacy Policy</a></li>
            <li><a target="_blank" href="/cookie-policy" class="hover:text-[#ffd700] transition-colors">Cookie Policy</a></li>
            <li><a target="_blank" href="/impressum" class="hover:text-[#ffd700] transition-colors">Imprint</a></li>
        </ul>
    </div>
</footer>