<footer class="h-[80px] bg-[#252422] text-[#fff9ef]">
    <div class="container px-5 mx-auto h-full">
        <div class="flex row items-center h-full">
            <ul class="flex flex-row gap-4 text-sm justify-between sm:justify-end items-center w-full px-2 ">
                <li><a href="/aup">AUP</a></li>
                <li><a href="/agb">Terms of Service</a></li>
                <li><a href="/datenschutz">Privacy Policy</a></li>
                <li><a href="/cookie-policy">Cookie Policy</a></li>
                <li><a href="/impressum">Imprint</a></li>
            </ul>
        </div>
    </div>
</footer>