---
import Footer from '../components/Footer.astro';
import Fonts from '../components/Fonts.astro';
const {title} = Astro.props;
import Head from '../components/Head.astro';
---
<Fonts/>
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<Head title={title}/>
<body>
<header class="flex justify-center bg-[#252422] text-[#fff9ef] h-20">
    <nav class="flex justify-between container px-5">
        <div class="hidden sm:flex items-center text-3xl text-[#fff9ef] logo-text">
            Sheetty
            <a href="/"><img src="/sheetty-logo-compact.svg" width="40" class="ml-3"></a>
        </div>
    </nav>
</header>

<div class="container prose px-5 mx-auto">
    <p class="my-5">
        <a href="/"><strong>&larr; Back</strong></a>
    </p>
    <slot/>
</div>
<Footer/>
</body>
</html>