---
import Footer from '../components/Footer.astro';
const {title} = Astro.props;
import '@fontsource/ibm-plex-sans';
import '@fontsource/ibm-plex-mono';
import '@fontsource/carter-one';
---
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>{title}</title>

    <style>
        html, body {
            font-family: 'IBM Plex Sans', sans-serif;
        }

        code {
            font-family: 'IBM Plex Mono', monospace;
        }
    </style>
</head>
<body>
<header class="flex justify-center bg-[#252422] text-[#fff9ef] h-20">
    <nav class="flex justify-between container px-5">
        <div class="hidden sm:flex items-center text-3xl text-[#fff9ef]" style="font-family: Carter One">
            Sheetty
            <a href="/"><img src="/sheetty-logo-compact.svg" width="40" class="ml-3"></a>
        </div>
    </nav>
</header>

<div class="container prose px-5 mx-auto">
    <p class="my-5">
        <a href="/"><strong>&larr; Back</strong></a>
    </p>
    <slot/>
</div>
<Footer/>
</body>
</html>