---
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
const {frontmatter} = Astro.props;
---
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<Head title={frontmatter.title}>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGFDCQSQ');</script>
    <!-- End Google Tag Manager -->
</Head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGFDCQSQ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="flex justify-center bg-[#252422] text-[#fff9ef] h-20">
    <nav class="flex justify-between container px-5">
        <div class="hidden sm:flex items-center text-3xl text-[#fff9ef] logo-text">
            Sheetty
            <a href="/"><img src="/sheetty-logo-compact.svg" width="40" class="ml-3"></a>
        </div>
    </nav>
</header>

<div class="container prose px-5 py-5 mx-auto">
    <slot/>
</div>
<Footer/>
</body>
</html>